html,
body {
    min-height: 100%;
    height: 100%;
    background: #f1f4f5;
}
body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    background-color: #000000;
}

.scroll::-webkit-scrollbar-thumb
{
    background-color: #ccc;
}

.pusher {
    min-height: 100%;
    height: 100%;
    position: relative;
}

div [class*="left floated"] {
    float: left;
    margin-left: 0.25em;
}

div [class*="right floated"] {
float: right;
margin-right: 0.25em;
} 

.pointer{
    cursor: pointer;
}